@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aclonica';
    src: url('../fonts/aclonica.ttf') format('truetype');
}

@layer components {

    * {
        @apply font-aclonica;
    }

    .container {
        @apply max-w-[1500px] px-2 md:px-10 mx-auto py-5 lg:py-10;
    }

    .heading-lg {
        @apply text-[35px] sm:text-[50px] font-semibold leading-tight;
    }

    .heading-md {
        @apply text-[20] sm:text-[30px] font-bold leading-tight;
    }

    .heading-sm {
        @apply text-[20px] sm:text-[25px] font-normal leading-tight;
    }

    .promo-clip-path {
        clip-path: polygon(100% 0, 100% 25%, 170px 25%, 160px 100%, 0 100%, 0 0);
    }

    .animation-shine {
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .nav-size-box {
        @apply pt-[79px] lg:pt-[103px];
    }
    
    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

/* vue transitions */
/* fade */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .3s ease;
}